.container-box{
    width: 1024px;
    height: 768px;
    margin: auto;
    border: 1px solid black;
    /* background-color: pink; */
    font-family: "標楷體";
}

header{
    height: 65px;
    /* background-color: lightblue; */
    border-bottom: 1px solid black;
    text-align: center;
}
.container{
    height: calc(100% - 65px - 20px);
    /* background-color: lightcyan; */
    display: flex;
    
}
aside{
    width: 215px;
    height: 100%;
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;

}

.aside-header{
    height: calc(100% - 25px);
    /* background-color: lightgreen; */
    border-bottom:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.my-title{
    font-size: 24px;
    text-decoration: underline black 2px;
    text-underline-offset: 5px;
    margin-bottom: 20px;

}
.box{
    font-size: 16px;
    background-image: url(../images/menu1.png);
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.box:hover{
    background-image: url(../images/menu2.png);
}

.container-box{
    font-size: 16px;
    color: #000;
}

.aside-footer{
    text-align: center;
    color: #000;
    font-size: 16px;
    

}

main{
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: blue; */
}

.main-header{
    height: 29px;
    border-bottom: 1px solid black;
}

marquee{
    font-size: 24px;
    color: #00f;
}

.main-footer{
    height: calc(100% - 30px);
    /* background-color: red; */
    /* border-top: 1px solid black; */
}

footer{
    border-top: 1px solid black;
    color: #000;
    text-align: center;
    font-size: 16px;
}